#sobrevovo.content
  div.sobrevovo
    p A Escola de Educação Infantil ou Creche Vovó Belinha foi fundada em 2008, como uma extensão do Centro de Educação Ambiental. A obra contou com o patrocínio da Capa Engenharia para a sua execução.
    p A estrutura da creche constitui-se de 6 salas de aula, 2 banheiros, lavanderia, cozinha e pátio. Atualmente, a creche atende a aproximadamente 80 crianças, de zero aos 6 anos incompletos. As turmas de zero a 4 anos estão permanentemente lotadas devido à alta demanda. Já os níveis de 4 a 6 anos incompletos geralmente apresentam sobra de vagas.