
@media screen and (min-width: 0px) and (-webkit-min-device-pixel-ratio:0) {
	object {
		height: 30%;
	}
}

@media screen and (min-width: 0px) {
	#navigation {
		display: none;
	}

	#videos a {
		float: left;
		margin-right: 1%;
	}

	#videos a img {
		width: 80px;
		height: 80px;
	}

	#menu-video {
		margin-left: 2.5%;
		width: 100%;
		margin-top: 1%;
	}

	.fb-like.content {
		display: none;
	}

	h1 {
		font-size: 1.6em;
	}

	#historia ul {
		line-height: 1.4em;
	}

	#doe {
		top: 0;
	}

	.two {
		line-height: 1.4em;
	}
	
	#sobre p {
		margin: 0;
		margin-top: 40px;
		width: 100%;
	}

	#sobre h1 {
		width: 100%;
		font-size: 1.4em;
	}

	#departamentos h1 {
		font-size: 1.4em;
	}

	#menu ul li {
		width: 45%;
		padding-top: 0px;
		padding-right: 0px;
		font-size: 1.2em;		
	}

	blockquote {
	  border-left: 5px solid #EEE;
	  float: left;
	  line-height: 25px;
	}

	.portrait {
	    width: 100%;
	}

	#sitemap-container {
    	width: 100%;
    }

    #sitemap-container	ul {
    	margin-left: 0;
  	}
}

@media screen and (min-width: 320px) {
	#navigation {
		display: none;
	}

	#sitemap-container ul {
    	margin-left: 5%;
  	}
}

@media screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio:0) {
	object {
		height: 40%;
	}
}

@media screen and (min-width: 480px) {
	#sitemap-container ul {
    	margin-left: 5%;
  	}

	.fb-like.content {
		display: inline-block;
		padding-top: 0px;
	}

  	#doe {
		top: 60px;
	}

	.two {
		column-count: 2;
		-webkit-column-count: 2;
		-moz-column-count: 2;
		-moz-column-gap: 50px;
    	-webkit-column-gap: 50px;
    	column-gap: 500px; 
    	line-height: 1.7em;
	}

	#historia ul {
		line-height: 2em;
	}


	blockquote {
	  padding: 0 0 0 15px;
	  line-height: 40px;
	}

  	#menu ul li {
	  	width: auto;
		font-size: 1.5em;
		padding-right: 30px;
		padding-top: 10px;
	}
}

@media screen and (min-width: 600px) {
	#navigation {
		display: block;
	}

	#videos a img {
		width: 100px;
		height: 100px;
	}

	#sobre p {
		margin-top: 0px;
		width: 50%;
	}

	#sobre h1 {
		width: 45%;
		font-size: 2em;
	}

	#departamentos h1 {
		font-size: 1.7em;
	}

	object {
		height: 60%;
	}

	.portrait {
	    width: 45%;
	}

	#sitemap-container {
    	width: 90%;
    }

    #sitemap-container ul {
    	margin-left: 10%;
  	}
}

@media screen and (min-width: 768px) {
	#doe {
		top: 100px;
	}

	#videos a {
		float: none;
	}

	#menu-video {
		margin-top: 0%;
		margin-left: 0%;
		width: auto;
	}

	#sitemap-container {
    	width: 60%;
    }

    #sobre h1 {
		font-size: 2.2em;
	}

	#departamentos h1 {
		font-size: 2em;
	}

    #sitemap-container ul {
    	margin-left: 15%;
  	}
}

@media screen and (min-width: 900px) {
	#doe {
		top: 130px;
	}

	#sitemap-container ul {
    	margin-left: 15%;
  	}
}

@media screen and (min-width: 1024px) {

}