@media screen and (min-width: 0px) and (-webkit-min-device-pixel-ratio:0) {
	object {
		height: 30%;
	}
}

@media screen and (min-width: 0px) {
	#navigation {
		display: none;
	}

	#face {
	  top: 40px;
	}

	#slides {
		display: none;
		top: 70px;
	}

	.videos a {
		float: left;
		margin-right: 1%;
	}

	.videos a img {
		width: 80px;
		height: 80px;
	}

	#container-video iframe {
		height: 200px;
	}

	#menu-video {
		margin-left: 2.5%;
		width: 100%;
		margin-top: 1%;
	}

	.fb-like.content {
		display: none;
	}

	h1 {
		font-size: 1.6em;
	}

	#historia ul {
		line-height: 1.4em;
	}

	#doe {
		top: 0;
		display: none;
	}

	.two {
		line-height: 1.4em;
	}

	#sobre {
		margin-top: 20px;
	}
	
	#sobre p {
		margin: 0;
		margin-top: 40px;
		width: 100%;
	}

	#sobre > h1 {
		width: 100%;
		font-size: 1.4em;
		margin-bottom: 20px;
		margin-top: 25px;
	}

	#departamentos h1 {
		font-size: 1.4em;
	}

	#menu ul li {
		width: 45%;
		padding-top: 0px;
		padding-right: 0px;
		font-size: 1.2em;		
	}

	blockquote {
	  border-left: 5px solid #EEE;
	  float: left;
	  line-height: 25px;
	}

	.portrait {
	    width: 100%;
	}
}

@media screen and (min-width: 320px) {
	#face {
	  top: 40px;
	}

	#navigation {
		display: none;
	}

	#navigation {
		display: none;
	}
}

@media screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio:0) {
	object {
		height: 40%;
	}
}

@media screen and (min-width: 480px) {
	.fb-like.content {
		display: inline-block;
		padding-top: 0px;
	}

	#face {
	  top: 100px;
	}

  #doe {
		top: 60px;
	}
	
	#slides {
		display: none;	
	}

	.two {
		column-count: 2;
		-webkit-column-count: 2;
		-moz-column-count: 2;
		-moz-column-gap: 50px;
    	-webkit-column-gap: 50px;
    	column-gap: 500px; 
    	line-height: 1.7em;
	}

	#historia ul {
		line-height: 2em;
	}


	blockquote {
	  padding: 0 0 0 15px;
	  line-height: 40px;
	}

  	#menu ul li {
	  width: auto;
		font-size: 1.5em;
		padding-right: 30px;
		padding-top: 10px;
	}

	#face {
	  top: 120px;
	}
}

@media screen and (min-width: 600px) {
	#navigation {
		display: block;
	}

	#container-video iframe {
		height: 300px;
	}

	.videos a img {
		width: 100px;
		height: 100px;
	}

	#sobre p {
		margin-top: 0px;
		width: 50%;
	}

	#sobre > h1 {
		width: 45%;
		font-size: 2em;
	}

	#departamentos h1 {
		font-size: 1.7em;
	}

	object {
		height: 60%;
	}

	.portrait {
	    width: 45%;
	}
}

@media screen and (min-width: 768px) {
	#doe {
		display: block;
	}

	#container-video iframe {
		height: 500px;
	}

	.videos a {
		float: none;
	}

	#menu-video {
		margin-top: 0%;
		margin-left: 0%;
		width: auto;
	}

	#sobre > h1 {
		font-size: 2.2em;
	}

	#departamentos h1 {
		font-size: 2em;
	}
}

@media screen and (min-width: 900px) {
	#doe {
		top: 80px;
	}

	#face {
	  top: 190px;
	}

	#slides {
		display: block;
		top: 140px;	
	}
}