Doe para as iniciativas do CEA!
Sua contribuição ajudará diretamente o CEJAK ou a Escola de Educação Infantil Vovó Belinha. Para isso, existem diversas maneiras: Através do Funcriança.

Nesta modalidade o valor doado pode ser deduzido integralmente do imposto de renda devido, até o limite de 6% do imposto devido para pessoas físicas e 1% do imposto devido para pessoas jurídicas.

Para doar é fácil, basta clicar no link abaixo e seguir as etapas, até imprimir o boleto.

Acessar o site do Funcriança

Digite ou cole Centro Cultural James Kulisz (CEJAK) no campo "pesquisar"
Clique em “Doar para este Projeto”
Siga os passos até "Emitir DAD para pagamento"
Imprima o Documento de Arrecadação e pague em uma lotérica ou em qualquer
agência dos principais bancos do país

Através de depósito bancário:

Escola de Educação Infantil Vovó Belinha:
Banco Banrisul
Agência 0027 – Três Figueiras
Conta Corrente: 06.855515.3-6

Centro Cultural James Kulisz – CEJAK
Banco Banrisul
Agência 0027 – Três Figueiras
Conta Corrente: 06.855515.4-4

Através de mantimentos e materiais
Exemplos
Alimentos
Material escolar
Livros
Equipamentos ( computadores, impressoras, etc.)

Se tiver alguma dúvida entrar em contato.