@import "color";

#sobrecejak {
      height: 300px;
}

#header.cejak {
  background: url('bgcejak.jpg');
  background-position: 0px -400px;

  #logo {
    margin-top: 10px !important;
  }
}

#menu.cejak {
  background: $yellow;

  .department {
    color: #222;
    font-weight: bold;
    font-size: 2em;
    float: left;
    margin-left: 50px;
    margin-top: 10px;
  }
}

div.sobrectvp {
    width: 70%;
    float: left;
}

#footer.cejak {
  color: white;
  height: 60px;
  background: $yellow;
}
