@import "color";
@import '_blueprint';

@include blueprint;

#sobrecejak, #cejakprojeto {
  height: 100%;
  display: table;
  float:left;
  width: 100%;
  padding-top: 0px;

  h2 {
    font-size: 1.9em;
    color: $yellow;
    margin-bottom: 20px;
    border-bottom: 4px solid $yellow;
    height: 45px;
    margin-top: 4%;
  }

  ul.information {
      margin-top: 20px;
      list-style: none;

      h3 {
        float: left;
        font-weight: bold;
        color: #222;
      }

      img {
        float: left;
        width: 25px;
        margin-right: 10px;
      }

      li {
        padding-top: 20px;
        width: 400px;
        float: left;
        font-size: 1.2em;
        color: $yellow;
      }
    }
  }

#cejakprojeto {

  h2 {
    width: 100%;
  }

  div {
    width: 100%;
    display: table;

    img {
       margin: 15px;
    }
  }

  ul.information {
    li {
      width: 500px;
    }
  }
}

#projetoscejak {
  width: 100%;

  a {
    text-decoration: none;
    font-size: 1.1em;
    text-align: center;
    color: $dark-yellow;
    width: 230px;
    display: block;
    width: 230px;
  }

  .vertical-align {
    vertical-align: middle;
    display: table-cell;
  }

  .program {
    height: 70px;
    margin-bottom: 10px;
    float: left;
    background: white;
    border-radius: 10px;
    display: table;
  }

  .span-12 {
    text-align: center;
    margin-bottom: 40px;
    font-weight: bold;
    background: #eee;
    border-radius: 10px;
    color: #555;
  }

  h2 {
    color: white;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    width: 950px;
    margin-bottom: 30px;
  }

  .projects {
    width: 970px;
    float: left;

    padding-bottom: 100px;

    img {
      margin: 0 auto;
      display: block;
    }
  }

  background: #bbb;
  display: table;
  padding: 0 10%;
  padding-top: 40px;
}

#header.cejak {
  background: url('cejak/header.jpg');  
  background-size: 100%;
  background-repeat: no-repeat;

  #logo {
    margin-top: 10px !important;
  }
}

#menu.cejak {
  background: $yellow;

  .department {
    color: #222;
    font-weight: bold;
    font-size: 2em;
    float: left;
    margin-left: 50px;
    margin-top: 10px;
  }

  ul li.active a {
    color: #222 !important;
  }

  li:hover a {
    color: #222 !important;
  }
}

div.sobrecejak, div.sobreprojeto {
  float: left;
  
  ul {
    list-style: square;
  }
}

div.sobrecejak {
  width: 70%;
}


#footer.cejak {
  color: white;
  height: 60px;
  background: $yellow;
  float: left;
  width: 100%;
}
