$blue: #3F7CB4;
$green: #50B948;
$orange: #D4813C;

$light-blue: #82B2D9;


$error: #B94A48;

.cejak {
  background-color: $blue;
  color: $blue;
}

.ctvp {
  background-color: $green;
  color: $green;
}

.vovo {
  background-color: $orange;
  color: $orange;
}
