@import "color";

#background {
  background-image: url('../assets/noise.png');
}

#contact {
  width:700px;
  margin: 0 auto;
  padding: 5% 0;
  color: #333;

  h2 {
    font-size: 2.3em;
    width: 95%;
    border-bottom: 5px solid #3F7CB4;
    padding-bottom: 10px;
    margin-bottom: 40px;
    color: $blue;
  }

  .input {
    margin: 3% 0;
  }

  .error {
    vertical-align: top;
    color: $error;
    margin-left: 10px;
  }

  input {
    border-radius: 3px;
    margin-bottom: 10px;
  }

  input:not(.btn) {
    width: 352px;
    height: 25px;
    border: 2px solid #ccc;
  }

  textarea {
    width: 350px;
    border-radius: 3px;
    border: 2px solid #ccc;
  }

  .btn {
    font-size: 1.2em;
    float: right;
    margin-right: 29%;
    background-color: $blue;
    color: white;
    border: 0;
    padding: 5px 15px;
    cursor: pointer;

    &:focus, &:hover {
      box-shadow: 0 0 7px #777;
    }

    &:active {
      box-shadow: 0 0 20px 0 #1D2845 inset, 0 1px 0 white;
    }
  }

  label {
    display: block;
    width: 115px;
    text-align: right;
    float: left;
    margin-right: 30px;
    font-size: 1.2em;
  }
}
