@import "color";

#background {
  background-image: url('../assets/noise.png');
}

#contact { float: left; }
#address { float: right; }

#contact, #address {
  width: 480px;
  padding: 5%;
  color: #333;
  font-size: 0.9em;

  h2 {
    font-size: 1.5em;
    width: 95%;
    border-bottom: 5px solid #3F7CB4;
    margin-bottom: 40px;
    color: $blue;
  }

  .input {
    margin: 3% 0;
  }

  .error {
    color: $error;
    margin-bottom: 2em;
    padding: 0.1em 0.1em 0.1em 2em;
    display: block;
  }

  input {
    border-radius: 3px;
    margin-bottom: 10px;
  }

  input:not(.btn) {
    font-size: 0.8em;
    width: 60%;
    height: 15px;
    border: 2px solid #ccc;
  }

  textarea {
    width: 60%;
    border-radius: 3px;
    border: 2px solid #ccc;
  }

  .btn {
    font-size: 1.2em;
    float: right;
    margin-right: 29%;
    background-color: $blue;
    color: white;
    border: 0;
    padding: 5px 15px;
    cursor: pointer;

    &:focus, &:hover {
      box-shadow: 0 0 7px #777;
    }

    &:active {
      box-shadow: 0 0 20px 0 #1D2845 inset, 0 1px 0 white;
    }
  }

  label {
    display: block;
    width: 20%;
    text-align: right;
    float: left;
    margin-right: 20px;
  }

  iframe {
    margin-top: 30px;
  }

  small {
    display: block;
    text-align: center;
  }

  #contact_to {
    width: 60%;
    height: 30px;
    border: 2px solid #CCC;
    border-radius: 3px;
    font-size: 1.0em;
  }
}
