@import "color";
@import "ctvp/sprite/*.png";
@include all-sprite-sprites;


#header.ctvp {
  background: url('ctvp/header.jpg') #777;
}

#footer.ctvp {
  height: 60px;
  background-color: $green;
}

#materials {
  padding-top: 2%;
  height: 100%;
  margin: 0 auto;
  width: 80%;
  display: table;

  ul.material {
    list-style: none;
    float: left;
    width: 23%;
    font-weight: bold;
    color: $green;
    font-size: 1.3em;
    padding: 0.5%;
    margin: 0.5%;
    background: #EEE;
    border-radius: 2px;

    li {
      color: #777;
      font-size: 0.7em;
    }
  }
}

#content-ctvp, #sponsors {
  h2 {
    margin-top: 3%;
    margin-left: 5%;
    width: 85%; 
  }
}

#sobrectvp {
  height: 100%;
  display: table;
  padding-top: 0px;

  ul.information {
      margin-top: 20px;
      list-style: none;

      h3 {
        float: left;
        font-weight: bold;
        color: #222;
      }

      img {
        float: left;
        width: 25px;
        margin-right: 10px;
      }

      li {
        padding-top: 20px;
        width: 450px;
        float: left;
        font-size: 1.2em;
        color: $green;
      }
    }
}

#sobrectvp, #content-ctvp, #sponsors {
   h2 {
      font-size: 1.9em;
      color: $green;
      margin-bottom: 20px;
      border-bottom: 4px solid $green;
      height: 45px;
      margin-top: 4%;
    }
}

#menu.ctvp {
  background: $green;

  .department {
    color: #222;
    font-weight: bold;
    font-size: 2em;
    float: left;
    margin-left: 50px;
    margin-top: 10px;
    margin-right: 70px;
  }

  ul li.active a {
    color: #222 !important;
  }

  li:hover a {
    color: #222 !important;
  }
}

.photos {
  float: left;

  img {
    width: 450px;
    margin-top: 60px;
    margin-left: 80px;
  }

  object {
    height: 550px;
    display: block;
  }

  h2 {
    float: left;
    width: 820px;
  }
}

div.news {
  width: 21%;
  margin: 0 20px;;
  float: right;
  padding: 0 20px;
  border-radius: 3px;
  padding-top: 5%;
  
  h1 {
    font-size: 1.9em;
    padding-bottom: 10px;
    color: $green;
  }

  ul li {
    list-style: none;
    padding-bottom: 10px;
    border-bottom: 1px dotted #407EB3;
  }

  ul li a {
    text-decoration: none;
    color: #222;
  }

  ul li a:hover {
    text-decoration: underline;
  }
}

#sponsors {
  #logos {
    margin-left: 5%;
  }

  img {
    width: 15%;
    padding: 3%;
  }
}

div.sobrectvp {
  width: 70%;
  float: left;

  ul {
    list-style: square;
  }
}
