@import "color";

#header.ctvp {
  background: url('headerCtvp.jpg') #777;
  background-position: 0px -275px;
  background-size: 1300px;
}

#footer.ctvp {
  height: 60px;
  background-color: $green;
}

#sobrectvp {
    ul.information {
      margin-top: 20px;
      list-style: none;

      h3 {
        float: left;
        font-weight: bold;
        color: #222;
      }

      img {
        float: left;
        width: 25px;
        margin-right: 10px;
      }

      li {
        padding-top: 20px;
        width: 400px;
        float: left;
        font-size: 1.2em;
        color: $green;
      }
    }

    h2 {
      font-size: 1.9em;
      color: $green;
      margin-top: 20px;
      margin-bottom: 20px;
      border-bottom: 4px solid $green;
      height: 45px;
    }
}

#menu.ctvp {
  background: $green;
  
  li {
    font-size: 1.3em;
  }

  .department {
    color: #222;
    font-weight: bold;
    font-size: 2em;
    float: left;
    margin-left: 50px;
    margin-top: 10px;
    margin-right: 70px;
  }

  ul li.active a {
    color: #222 !important;
  }

  li:hover a {
    color: #222 !important;
  }
}

.photos {
  img {
    width: 450px;
    margin-top: 60px;
    margin-left: 80px;
  }

  h2 {
    float: left;
    width: 820px;
  }
}

div.news {
  width: 21%;
  margin: 0 20px;;
  float: right;
  background-color: #efefef;
  padding: 0 20px;
  border-radius: 3px;
  
  h1 {
    font-size: 1.9em;
    padding-bottom: 10px;
    color: $green;
  }

  ul li {
    list-style: none;
    padding-bottom: 10px;
    border-bottom: 1px dotted #407EB3;
  }

  ul li a {
    text-decoration: none;
    color: #222;
  }

  ul li a:hover {
    text-decoration: underline;
  }
}

div.sobrectvp {
  width: 70%;
  float: left;

  ul {
    list-style: square;
  }
}
