@import "color";

#donation-text {
	width: 80%;
	font-size: 1.05em;

	h2 {
		font-size: 1.2em;
		color: $blue;
		margin-bottom: 20px;
		margin-top: 20px;
		width: 350px;
		border-bottom: 2px solid $blue;
	}

	.alternative {
		display: table;
		margin-bottom: 40px;
		float: left;
		width: 100%;
	}

	.information {
		float: left;
		width: 50%;
	}

	.information.site {
		width: 100%;
	}

	h1 {
		width: 100%;
		margin-bottom: 40px;
		border-bottom: 4px solid $blue;
	}

	ul {
		list-style: none;
		line-height: 2.3em;
	}

	p.duvida {
		font-size: 1.1em;
		display: block;
		float: left;
		width: 280px;
		display: block;
	}

	.contact {
		float: left;
		text-decoration: none;
		font-size: 1.2em;
	}
}