@import "color";

#donation-text {
	width: 80%;
	font-size: 1.1em;

	h2 {
		font-size: 1.2em;
		color: $blue;
		margin-bottom: 20px;
		margin-top: 20px;
		width: 350px;
		border-bottom: 2px solid $blue;
	}

	.information {
		float: left;
		width: 50%;
	}

	h1 {
		width: 100%;
		margin-bottom: 40px;
		border-bottom: 4px solid $blue;
	}

	ul {
		list-style: none;
	}

	ul.items {
		list-style: circle;
	}
}