#localization {
  display: none;
  height: 90px;
  width: 50px;
  background-color: #111;
  position: fixed;
  top: 65%;
  right: -30px;
  border-radius: 7px 0 0 7px;
  opacity: 0.5;

  img {
    width: 38px;
    height: 38px;
    margin: 0;
    padding-left: 7px;
  }
}