@import "color";

#header {
  height: 100%;
  overflow: hidden;
  background-image: url('../assets/bg.jpg');
  background-repeat: no-repeat;
  background-size: 102%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../assets/bg.jpg',sizingMethod='scale');

  #navigation {
    position: absolute;
    float: right;
    right: 0;
    top: 0;

    .page_link {
      float: left;
      width: 100px;
      height: 35px;
      margin-right: 10px;
      font-size: 1.1em;
      text-align: center;
      line-height: 1em;
      cursor: pointer;
      border-radius: 0 0 4px 4px;
      text-decoration: none;
      display: block;
      cursor: pointer;

      span {
        color: white;
        width: 50px;
        float: left;
        cursor: pointer;

        &.short {
          margin-top: 9%;
        }
      }

      img {
        width: 26%;
        padding: 9% 5% 9% 5%;
        float: left;
      }
    }
  }

  #logo {
    background: transparent;
    margin: 5.9% 0;
    width: 16%;

    &.cea {
      margin-top: 3.5%;
      margin-bottom: 3.0%;
    }
  }
}


#doe, #slides {
  width: 170px;
  cursor: pointer;
  z-index: 3;
  text-decoration: none;
  right: 30px;
  position: absolute;

  .doe-text {
    margin-top: 5px;
    font-family: 'Handlee', cursive;
    font-size: 1.4em;
    color: white;
    padding: 5px;
    padding-bottom: 0px;
    display: block;
    float: left;
  }
}

#doe {
  border: 2px solid white;
  border-radius: 5px;

  img {
      margin: 0 auto;
      display: block;
      float: left;
      width: 26%;
    }
}

#localization {
  display: none;
  height: 90px;
  width: 50px;
  background-color: #111;
  position: fixed;
  top: 65%;
  right: -30px;
  border-radius: 7px 0 0 7px;
  opacity: 0.5;

  img {
    width: 38px;
    height: 38px;
    margin: 0;
    padding-left: 7px;
  }
}

#footer {
  background-color: $blue;
  display: table;
  width: 100%;

  .right, .left, .cea {
    margin-top: 15px;
    display: inline-block;
  }

  .left {
    float: right;
    margin-right: 40px;
  }

  .right {
    vertical-align: top;
    margin-left: 5%;
    margin-top: 1%;
  }

  .doe {
    height: 50px;
    margin-top: 20px;
    float: right;
    text-align: right;
    font-size: 1em;
    margin-left: 5px;
  }

  #doe_agora {
    width: 35px;
    float: right;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 20%;
  }

  & p {
    color: white;
    display: inline-block;
    margin-left: 15px;
    font-size: 1.1em;
  }

  #back_to_top {
    padding-top: 17px;
    width: 25px;
    display: inline-block;
    float: right;
  }

  #logo_cea_white {
    width: 50px;
    margin-left: 5%;
    padding-top: 15px;
    float: left;
  }

  .top {
    float:right;
    padding: 10px 0;
    padding-left: 10px;
    padding-top: 15px;
    color: white;
  }

  & div {
    border-bottom: none !important;
  }
}

#sitemap {
    vertical-align: top;
    margin: 0 auto;
    display: inline-block;
    width: 400px;

  ul {
    vertical-align: top;
    margin: 20px 0;
    display: inline-block;
    color: white;
    margin-left: 10%;

    li {
      line-height: 25px;

      &:first-child {
        font-weight: bold;
        font-size: 1.1em;

        .vovo {
          color: $orange;
        }

        .ctvp {
          color: $green;
        }

        .cejak {
          color: $yellow;
        }
      }

      a {
        background: transparent;
        color: white;
        text-decoration: none;

        &:hover {
          color: $green;
        }
      }

      list-style: none;
    }
  }
}
