#localization {
  height: 90px;
  width: 50px;
  background-color: rgba(111, 111, 111, 0.9);
  position: fixed;
  top: 50%;
  right: 0;
  border-radius: 7px 0 0 7px;

  img {
    width: 38px;
    height: 38px;
    margin: 0;
    padding-left: 7px;
  }
}
