@media screen and (min-width: 0px) {
	#sobre {
		height: 900px;
	}
}

@media screen and (min-width: 320px) {
	#sobre {
		height: 880px;
	}
}

@media screen and (min-width: 480px) {
	#sobre {
		height: 730px;
	}
}

@media screen and (min-width: 600px) {
	#sobre {
		height: 590px;
	}
}

@media screen and (min-width: 768px) {
	#sobre {
		height: 430px;
	}
}

@media screen and (min-width: 900px) {
	#sobre {
		height: 290px;
	}
}

@media screen and (min-width: 1024px) {
	#sobre {
		height: 250px;
	}
}