@media screen and (min-width: 0px) {
	#sobre {
		height: 900px;

		p {
			margin: 0;
			margin-top: 40px;
			width: 100%;
		}

		h1 {
			width: 100%;
		}
	}

	.portrait {
	    width: 90%;
	}

	#depoimentos {
		height: 1950px;
	}

	#sitemap-container {
    	#sitemap {
    		width: 100%;
    	}

    	ul {
    		margin-left: 0;
    	}
  	}
}

@media screen and (min-width: 320px) {
	#sobre {
		height: 820px;
	}

	#sitemap-container {
    	ul {
    		margin-left: 5%;
    	}
  	}
}

@media screen and (min-width: 480px) {
	#sobre {
		height: 700px;
	}

	#sitemap-container {
    	ul {
    		margin-left: 5%;
    	}
  	}
}

@media screen and (min-width: 600px) {
	#sobre {
		height: 590px;

		p {
			margin-top: 0px;
			width: 50%;
		}

		h1 {
			width: 45%;
		}
	}

	.portrait {
	    width: 45%;
	}

	#depoimentos {
		height: 950px;
	}

	#sitemap-container {
    	#sitemap {
    		width: 90%;
    	}

    	ul {
    		margin-left: 10%;
    	}
  	}
}

@media screen and (min-width: 768px) {
	#sobre {
		height: 430px;
	}

	#sitemap-container {
    	#sitemap {
    		width: 80%;
    	}

    	ul {
    		margin-left: 15%;
    	}
  	}
}

@media screen and (min-width: 900px) {
	#sobre {
		height: 290px;
	}

	#sitemap-container {
    	ul {
    		margin-left: 25%;
    	}
  	}
}

@media screen and (min-width: 1024px) {
	#sobre {
		height: 250px;
	}
}