@import "compass/css3";
@import "color";
@import "blueprint/reset";
@import "partials/base";
@import "blueprint";
@import "blueprint/scaffolding";

body {
  font-family: 'Droid Sans', sans-serif;
  line-height: 2em;
  color: #666;
}

p {
  text-align: justify;
}

.fb-like-short {
  left: 45%;
}

.fb-like {
  margin-top: 10px;
}

i {
  float: left;
  font-size: 1.5em;
  margin-right: 5px;
}

blockquote {
  margin: 0 0 18px;
  margin-bottom: 40px;
}

#menu {
  background-color: #3f7cb4;
  width: 100%;
  z-index: 2;
  position: relative;

  ul {
    display: inline-block;
    padding-left:10%;
    
    li {
      list-style: none;
      float: left;
      opacity: 0.9;

      &.active a, &:hover a {
        color: $green !important;
        background: none;
      }
      
      & a {
        color:white
      }

      & a:visited {
        color: white;
      }
    }

    a {
      text-decoration: none;
    }
  }
}

.content {
  padding: 4% 4.5%;
  width: 91%;
}

h1 {
  margin: 0;
  color: #3f7cb4;
  font-weight: lighter;
  font-size: 2em;
  float: left;
  line-height: 1.3em;
}

.two {
    padding-bottom: 50px;
    font-weight: normal;
    margin: 0;
    float:left;
    padding-bottom: 15px;
    font-size: 1.1em;
}

#historia h1, #depoimentos h1, #departamentos h1.title, #videos h1 {
  width: 95%;
  border-bottom: 5px solid #3F7CB4;
  padding-bottom: 10px;
  margin-bottom: 40px;
  text-align: left;
}

#sobre {
  height: 100%;
  width: auto;
  display: table;
  padding-top: 0;

  iframe {
    margin: 0 auto;
    display: block;
  }

  p {
    margin-left: 3%;
    font-weight: normal;
    line-height: 1.7em;
    font-size: 1.05em;
  }

  a {
    color: $blue;
    text-decoration: none;
  }

  a#ctvp_inline_link {
	color: $green;
  }

  a#cejak_inline_link {
	color: $yellow;
  }

  a#vovo_inline_link {
	color: $orange;
  }
}

.projects_small_icon {
	width: 32px;
	height: 20px;
}

#depoimentos {
  height: 100%;
  display: table;

  h1 {
    width: 100%;
  }

  p {
    font-size: 1.2em;
  }

  small {
    float: left;
  }

  img {
    width: 40%;
    margin-left: 30%;
    margin-bottom: 30px;
  }

  .portraits {
    width: 100%;
    margin: 0 auto;
  }
  
  .portrait {
    margin-left: 5%;
    float: left;
  }

  .testimonial_eduardo {
    float: right;
  }
}

#departamentos {
  height: 860px;
  margin: 0;
  background-color: #eee;
 
  img {
    margin: 10% 10% 0 10%;
    width: 80%;
  }

  a {
    color: #222;

  }
  
  #cea {
    float: none;
    clear: both;

    img {
      margin: 0% 10% 0% 10%;
    }
  }

  h1 {
    text-align: center;
  }

  .saiba-mais {
    margin: 0 auto;
    text-align: center;
    width: 60%;
    padding: 3px;
    border-radius: 3px;
    background: white;
    @include background(linear-gradient(white, #E8E8E8));
    border: 2px solid #CCC;
    font-weight: bold;
    margin-top: 5px;
  }
}

.departamento {
  width: 28%;
  float: left;
  padding-left: 4%;

  h1 {
    margin-top: 50px;
  }

  p {
    height: 380px;
    display: block;
    margin-bottom: 10px;
  }

  .nav {
    padding-bottom: 20px;
    @include background(linear-gradient(#EFEFEF, #DDDDDD));
    border: 1px solid #CCC;
    border-radius: 3px;
    width: 70%;
    margin: 0 auto;

    &:hover {
      -moz-box-shadow: 0 0 10px #cacaca;
      -webkit-box-shadow: 0 0 10px #cacaca;
      box-shadow: 0 0 10px #cacaca;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}

#videos {
  iframe, object {
    display: block;
    margin-left: 3%;
  }

  a {
    display: block;

    img {
       border: 5px solid white;

       &.active {
          border-color: $blue;
       }
    }
  }

  #container-video {
    float: left;
    width: 80%;
    height: 100%;
    margin-right: 3%;
  }

  #menu-video {
    float: left;
  }
}

#historia {
  height: 1020px;

  p {
    margin-bottom: 4%;
  }

  ul {
    list-style: circle;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  object {
    position: relative;
    margin: 40px 10%;
    margin-bottom: 0px;
    display: block;
    float: left;
  } 

}

.carousel {
  position: relative;
  margin-bottom: 1em;
  line-height: 1;
}

.carousel-inner {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.carousel-inner {
  img {
    width: 120px;
    border: 2px solid white;
    border-radius: 5px;
  }

  > .item {
    display: none;
    position: relative;
    transition: .6s ease-in-out left;
    -moz-transition: .6s ease-in-out left;
    -webkit-transition: .6s ease-in-out left;
    -o-transition: .6s ease-in-out left;
  }

  // Account for jankitude on images
  > .item > img {
    display: block;
    line-height: 1;
  }

  > .active,
  > .next,
  > .prev { display: block; }

  > .active {
    left: 0;
  }

  > .next,
  > .prev {
    position: absolute;
    top: 0;
    width: 100%;
  }

  > .next {
    left: 100%;
  }
  > .prev {
    left: -100%;
  }
  > .next.left,
  > .prev.right {
    left: 0;
  }

  > .active.left {
    left: -100%;
  }
  > .active.right {
    left: 100%;
  }

}

// Left/right controls for nav
// ---------------------------

.carousel-control {
  position: absolute;
  top: 40%;
  left: 15px;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  color: white;
  text-align: center;
  background: #333;
  border: 3px solid white;
  border-radius: 23px;
  opacity: 0.5;

  // we can't have this transition here
  // because webkit cancels the carousel
  // animation if you trip this while
  // in the middle of another animation
  // ;_;
  // .transition(opacity .2s linear);

  // Reposition the right one
  &.right {
    left: auto;
    right: 15px;
  }

  // Hover state
  &:hover {
    color: white;
    text-decoration: none;
    opacity: 0.9;
  }
}


// Caption for text below images
// -----------------------------

.carousel-caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px;
  background: #333;
  background: rgba(0,0,0,.75);
}
.carousel-caption h4,
.carousel-caption p {
  color: white;
  line-height: 1em;
}
.carousel-caption h4 {
  margin: 0 0 5px;
}
.carousel-caption p {
  margin-bottom: 0;
}