@import "compass/css3";
@import "color";
@import "blueprint/reset";
@import "partials/base";
@import "blueprint";
@import "blueprint/scaffolding";
@import 'font-awesome';
body {
  font-family: 'Droid Sans', sans-serif;
  line-height: 2em;
  color: #222;
}

#face {
  padding-bottom: 10px;
  position: absolute;
  top: 20%;
  right: 5%;
}

i {
  float: left;
  font-size: 1.5em;
  margin-right: 5px;
}

#doe {
    border: 3px solid white;
    cursor: pointer;
    z-index: 3;
    text-decoration: none;
    top: 90px;
    right: 30px;
    position: absolute;
    padding: 2px;
    border-radius: 5px;

    .doe-text {
      margin-top: 5px;
      font-family: 'Handlee', cursive;
      font-size: 1.4em;
      color: white;
      padding: 5px;
      padding-bottom: 0px;
      display: block;
    }

    img {
      margin: 0 auto;
      display: block;
    }
  }

#header {
  height: 100%;
  overflow: hidden;
  background-image: url('../assets/bg.jpg');
  background-repeat: no-repeat;

  &.cea {
    border-bottom: 4px solid $blue;
  }

  #navigation {
    position: absolute;
    float: right;
    right: 0;
    top: 0;

    .page_link {
      float: left;
      width: 130px;
      height: 40px;
      margin-right: 30px;
      font-size: 1.1em;
      text-align: center;
      line-height: 1em;
      cursor: pointer;
      border-radius: 0 0 4px 4px;

      a {
        text-decoration: none;
        display: block;
        cursor: pointer;
      }

      label {
        color: white;
        width: 50px;
        float: left;
        cursor: pointer;

        &.short {
          margin-top: 9%;
        }
      }

      img {
        width: 30%;
        padding: 6%;
        float: left;
      }
    }
  }

  #logo {
    width: 16%;
    margin-top: 3.5%;
    margin-bottom: 3.0%;
  }

  #logo-department {
    width: 14%;
    padding-top: 1%;
  }
}

#menu {
  background-color: #3f7cb4;
  width: 100%;
  z-index: 2;
  position: relative;

  ul {
    display: inline-block;
    padding-left:10%;
    
    li {
      list-style: none;
      font-size: 1.5em;
      float: left;
      padding-right: 50px;
      padding-top: 10px;

      &.active a, &:hover a {
        color: $green !important;
      }
      
      & a {
        color:white
      }

      & a:visited {
        color: white;
      }
    }

    a {
      text-decoration: none;
    }
  }
}

.content {
  padding: 4% 4.5%;
  width: 91%;
}

h1 {
  margin: 0;
  padding-right: 2%;
  color: #3f7cb4;
  font-weight: lighter;
  font-size: 2em;
  float: left;
  line-height: 1.3em;
}

.two {
    padding-bottom: 50px;
    font-weight: normal;
    margin: 0;
    line-height: 1.8em;
    float:left;
    color: #222;
    padding-bottom: 15px;
    -moz-column-count: 2;
    -moz-column-gap: 50px;
    -webkit-column-count: 2;
    -webkit-column-gap: 50px;
    column-count: 2;
    column-gap: 500px; 
}

#historia h1, #depoimentos h1, #departamentos h1.title {
  width: 95%;
  border-bottom: 5px solid #3F7CB4;
  padding-bottom: 10px;
  margin-bottom: 40px;
  text-align: left;
}

#sobre {
  height: 100%;
  display: table;

  iframe {
    margin: 0 auto;
    display: block;
  }

  p {
    font-weight: normal;
    line-height: 1.8em;
    color: #222;
    padding-bottom: 50px;
    -moz-column-count: 2;
    -moz-column-gap: 50px;
    -webkit-column-count: 2;
    -webkit-column-gap: 50px;
    column-count: 2;
    column-gap: 50px;
  }
}

#depoimentos {
  height: 100%;
  display: table;

  h1 {
    width: 100%;
  }

  p {
    font-size: 1.2em;
  }

  small {
    float: left;
  }

  img {
    width: 40%;
    margin-left: 30%;
    margin-bottom: 30px;
  }

  .portraits {
    width: 100%;
    margin: 0 auto;
  }
  
  .portrait {
    margin-left: 5%;
    float: left;
  }

  .testimonial_eduardo {
    float: right;
  }
}

#departamentos {
  height: 600px;
  margin: 0;
  background-color: #eee;
  
  img {
    margin: 10% 10% 0 10%;
    width: 80%;
  }

  a {
    color: #222;
  }

  h1 {
    margin-top: 50px;
    text-align: center;
  }

  .saiba-mais {
    margin: 0 auto;
    text-align: center;
    width: 60%;
    padding: 3px;
    border-radius: 3px;
    background: white;
    @include background(linear-gradient(white, #E8E8E8));
    border: 2px solid #CCC;
    font-weight: bold;
    margin-top: 5px;
  }
}

blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 18px;
  border-left: 5px solid #EEE;
  float: left;
  line-height: 40px;
  margin-bottom: 40px;
}

.departamento {
  width: 28%;
  float: left;
  padding-left: 4%;

  p {
    height: 380px;
    display: block;
    margin-bottom: 10px;
  }

  .nav {
    padding-bottom: 20px;
    @include background(linear-gradient(#EFEFEF, #DDDDDD));
    border: 1px solid #CCC;
    border-radius: 3px;
    width: 70%;
    margin: 0 auto;

    &:hover {
      -moz-box-shadow: 0 0 10px #cacaca;
      -webkit-box-shadow: 0 0 10px #cacaca;
      box-shadow: 0 0 10px #cacaca;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}

#historia {
  height: 1020px;

  object {
    margin: 40px 10%;
    display: block;
    float: left;
  } 
}

#sitemap-container {
  #sitemap {
    margin: 0 auto;  
  }

  height: 250px;
  background: $light-blue;

  ul {
    margin-top: 50px;
    float: left;
    color: white;
    padding-left: 10px;
    border-left: 1px solid white;
  
    li {
      &:first-child {
        font-weight: bold;
        font-size: 1.1em;
      }

      a {
        color: white;
        text-decoration: none;

        &:hover {
          color: $green;
        }
      }

      list-style: none;
    }
  }

  ul:first-child {
      margin-left: 10%;
  }
}

#footer {
  background-color: $blue;

  & p {
    width: 60%;
    padding-top: 20px;
    color: white;
    display: inline-block;
    margin-left: 20px;
    font-size: 0.8em;
  }

  #back_to_top {
    padding-top: 17px;
    width: 25px;
    display: inline-block;
    float: right;
  }

  #logo_cea_white {
    width: 50px;
    margin-left: 5%;
    padding-top: 15px;
    float: left;
  }

  .top {
    float:right;
    padding: 10px;
    padding-top: 15px;
    color: white;
    margin-right: 5%;
  }

  & div {
    border-bottom: none !important;
  }
}

body.bp {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
}

form.bp {
  @include blueprint-form;
  @include blueprint-scaffolding; }

body.two-col {
  #container {
    @include container; }
  #header, #footer {
    @include column($blueprint-grid-columns); }
  #sidebar {
    $sidebar-columns: floor($blueprint-grid-columns / 3);
    @include column($sidebar-columns); }
  #content {
    $content-columns: ceil(2 * $blueprint-grid-columns / 3);
    @include column($content-columns, true); } 
}
