@import "color";

#sobrevovo {
      height: 300px;
}

#header.vovo {
  background: url('bgvovo.jpg');
  background-position: 0px -193px;
}

#menu.vovo {
  background: $orange;

  .department {
    color: #222;
    font-weight: bold;
    font-size: 2em;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
  }
}

div.sobrevovo {
    width: 70%;
    float: left;
}

#footer.vovo {
  color: white;
  height: 60px;
  background: $orange;
}
