@import "color";
#sobrevovo {
      height: 100%;
      margin: 0 auto -60px; 
      display:table;
}

#menu.vovo {
  background: $orange;

  .department {
    color: #222;
    font-weight: bold;
    font-size: 2em;
    float: left;
    margin-left: 50px;
    margin-top: 10px;
  }
}

div.sobrevovo {
    width: 70%;
    float: left;
    margin-bottom:5%;

h2{
   font-size: 1.9em;
   color: $orange;
   margin-top: 20px;
   margin-bottom: 20px;
   border-bottom: 4px solid $orange;
   height: 45px;
  }
}

#footer.vovo {
  color: white;
  height: 60px;
  background: $orange;
}
