@import "color";

#sobrevovo.content {
      height: 100%;
      width: 90%;
      padding-top:1%;
      display:table;
}

#doe.vovo {
  border: 2px solid white;
  width: 170px;
  display: table;
  top: 80px;

  .doe-text {
    float: left;
  }

  img {
    float: left;
    width: 26%;
  }
}

#header.vovo {
  background: url('vovo/header.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

#menu.vovo {
  background: $orange;

  .department {
    color: #222;
    font-weight: bold;
    font-size: 2em;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
  }

  ul li.active a {
    color: #222 !important;
  }

  li:hover a {
    color: #222 !important;
  }
}

div.sobrevovo {
    width: 70%;
    float: left;
    margin-bottom:5%;
    padding-top:0%;
}

#sobrevovo{
  h2{
     font-size: 1.9em;
     color: $orange;
     margin-top: 20px;
     margin-bottom: 20px;
     border-bottom: 4px solid $orange;
     height: 45px;
  }

  ul {
    list-style: circle;
  }
}

#footer.vovo {
  color: white;
  height: 60px;
  background: $orange;
}

.photos {
  float: left;
  margin-bottom:5%;

  img {
    width: 450px;
    margin-top: 60px;
    margin-left: 80px;
  }

  object {
    height: 550px;
    display: block;
  }

  h2 {
    float: left;
    width: 820px;
  }
}

ul.information {
    margin-left:20px;

  h3{
      font-weight:bold;
  }
}

div.news{
  width: 21%;
  margin: 0 20px;;
  float: right;
  padding: 0 20px;
  border-radius: 3px;
  padding-top: 5%;

  h1 {
    font-size: 1.9em;
    padding-bottom: 10px;
    color: $green;
  }

  ul li {
    list-style: none;
    padding-bottom: 10px;
    border-bottom: 1px dotted #407EB3;
  }

  ul li a {
    text-decoration: none;
    color: #222;
  }

  ul li a:hover {
    text-decoration: underline;
  }
}

#sponsors.vovo {
  background: white;

  #logos {
    width: 80%;
  }

  h2 {
    color: $orange;
    border-bottom: 4px solid $orange;
  }
}
