#sobrecejak.content
  div.sobrecejak
    p Promover a inclusao socio cultural e educacional de criancas, jovens e adultos, moradores da comunidade local, oferecer a oportunidade de modificacao da condicao de risco social da comunidade local e, potencializar os envolvidos a serem futuros multiplicadores das acoes desenvolvidas para o beneficio da coletividade. 